<!DOCTYPE html>
<html>
  <head>
    <title>Autor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Nairobi Albarran</h3>
	<img src="/images/nay.jpeg"></>
  </body>
</html>
